/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [Assoc]
      ,[Client]
      ,[Effective DT]
      ,[Executive Contact]
      ,[Group Name]
      ,[ Address 1]
      ,[Addr 2]
      ,[City]
      ,[State]
      ,[Zip]
      ,[Email Address]
	  ,EmailFullName = [Email First ]
      ,[Email First ] = subString([Email First ],0,Charindex(' ',[Email First ],0))
      ,[Email Last]   = subString([Email First ],Charindex(' ',[Email First ],0),50)
Into [pdb_AllSaversRegistration].[dbo].[ExecutiveContacts_JulandAugNewGroups]
  FROM [pdb_AllSaversRegistration].[dbo].[ExecutiveContacts_AugNewGroups]
  union
  SELECT  [Assoc]
      ,[Client]
      ,[Effective DT]
      ,[Executive Contact]
      ,[Group Name]
      ,[ Address 1]
      ,[Addr 2]
      ,[City]
      ,[State]
      ,[Zip]
      ,[Email Address]
	  ,EmailFullName = [Email First ] + ' ' + [Email Last]
      ,[Email First ]
      ,[Email Last]
  FROM [pdb_AllSaversRegistration].[dbo].[ExecutiveContacts_NewGroups]